
  input{
    display: none;
  }

  label{
    cursor:pointer;
  }
  #imageName{
    color:green;
  }

  form {
    /* display:flex; */
    justify-content: center;
    align-items: center;
    margin: 5%;   
    position: center;
    opacity: 0.6;
    position: absolute;
    top: 50px;
    left:90px;
    right: 70px;
    width: 500px;
    height: 200px;
    background-color: white;
    font-weight: bold;
    color: #000000;
    border: 2px solid black;
    padding: 100px;
    padding-right:100px;
    padding-bottom: 80px;
    margin-left:13rem;
  }
   
  .fileee
  {
    text-align: center;
    padding: 5%;
    border: thin solid  black;
  }

.button
{
  background-color: black;
  color: aliceblue;
  text-align: center;
  align-self: center;
  font-size: 15px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  margin: auto;
}
.button:hover{opacity: 1;}
body, html {
    height: 100%;
    margin: 0;
  }
  p{
    text-align: center;
  }
.background{
    background-image: url(bg.webp);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
  }